# Mac OSX's metadata
.DS_Store

# Machine learning models (for size reasons)
# [you can download them at http://cs.man.ac.uk/~filannim/projects/tempeval-3]
*.crf

# Python bytecode files
*.pyc

# files I don't wanna touch right now
pipeline.py

# folders outside the scope of this project
temporal_location/*

data/test/.DS_Store
