body {
    text-rendering: optimizeLegibility;
}

footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
  text-align: center;
}

TIMEX3, EVENT {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;            
    float: none;            
    z-index: auto;            
    position: static;            
    overflow: visible;            
    padding: 2px 4px;            
    line-height: 14px;            
    color: #ffffff;            
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);            
    white-space: nowrap;            
    vertical-align: baseline;            
    -webkit-border-radius: 3px;            
    -moz-border-radius: 3px;            
    border-radius: 3px;            
    border: 1px solid;
    border-bottom: 4px solid;
}        
    
EVENT {
    color: black;
    background-color: white;
    border-color: #000;
}

TIMEX3 {
    color: white;
    background-color: black;
    border-color: #000;
}

EVENT[type=PROBLEM] { border-bottom-color: #d11141;}
EVENT[type=TREATMENT] { border-bottom-color: #00b159;}
EVENT[type=TEST] { border-bottom-color: #00aedb;}
EVENT[type=OCCURRENCE] { border-bottom-color: #f37735;}
EVENT[type=CLINICAL_DEPT] { border-bottom-color: #ffc425;}
EVENT[type=EVIDENTIAL] { border-bottom-color: #dfe3ee;}

TIMEX3[type=TIME] { border-bottom-color: #468847;}        
TIMEX3[type=DATE] { border-bottom-color: #3a87ad;}
TIMEX3[type=DURATION] { border-bottom-color: #f89406;}
TIMEX3[type=SET] { border-bottom-color: #b94a48;}
TIMEX3[type=FREQUENCY] { border-bottom-color: #b94a48;}

body TIMEX3:after[value], body TIMEX3:after {            
    content: " (" attr(value) ") ";
    font-size: xx-small;
    vertical-align: top;
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 *
 * Original source:
 * http://ironsummitmedia.github.io/startbootstrap-simple-sidebar/css/simple-sidebar.css
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
